.col-md-6 {
  margin: auto;
  padding: 90px;
}
/* .mycontainer {
  position: absolute;
  max-width: 1000px;
  height: 800px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  background-color: gray;
} */
